{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "quoteProps": "as-needed",
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.tsx"
      ],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
